.main {
    overflow: hidden;
    min-height: 100vh;
    background: var(rgb(199, 29, 29));
    transform: 0.5s;
    margin-left: 210px;

  }
  .topbar {
    color: white;
    font-size: 25px;
    text-align: center !important;
    margin-top: 10px;
    position: sticky;

  }
  .toggle {
    h1{
      color: #f1e6f1;
    }
  }

  body {
  background: #0b2e60;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100%;
    width: 100% !important;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .projects {
    background-color: #0b2e60;
    border: 1px solid light-bg;
    overflow-x: auto;
    width: 100%;
  
    &-inner {
      border-radius: 4px;
      margin-top: 60px;

    }
  }
  
  .projects-header {
    color:#004d4d;
    padding: 22px;
  
    .title {
      display: inline-block;
      background-color: #0b2e60;
      color: white;
      font-size: 16px;

    }
  }
  
  .Assesment-table{
    width: 80%;
    color: white;
    background-color: #082349;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: auto;

  
    td {
      vertical-align:middle;
      height:34px;
      padding:10px;
      border-bottom:solid 1px gray;
    }
    td label{
      color: #212121;
    }
    th {
      padding: 10px 22px;
      vertical-align: middle;
      border-bottom: 1px solid;
      position: sticky;
       z-index: 2;
      top: 0;
    }
  
    td {
      font-size: 15px;
  
      &:last-of-type {
        color: light-text;
        font-size: 15px;
      }
    }
  
    th {
      background-color: light-bg;
    }
  
    tr {
      &:hover {
        background-color: lighten(gray, 5%);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid light-bg;
      }
    }

  
  }
  
  .projects-table {
    width: 100%;
    color: white;
    background-color: #082349;
    border: 1px solid;
    border-radius: 10px;



  
    td {
      vertical-align:middle;
      height:34px;
      padding:10px;
      border-bottom:solid 1px gray;
    }
    td label{
      color: #212121;
    }
    th {
      padding: 10px 22px;
      vertical-align: middle;
      border-bottom: 1px solid;
      position: sticky;
       z-index: 2;
      top: 0;
    }
  
    td {
      font-size: 15px;
  
      &:last-of-type {
        color: light-text;
        font-size: 15px;
      }
    }
  
    th {
      background-color: light-bg;
    }
  
    tr {
      &:hover {
        background-color: lighten(gray, 5%);
      }
  
      &:not(:last-of-type) {
        border-bottom: 1px solid light-bg;
      }
    }
  
  }

  .scrollable {
    height: 700px;
    overflow-y: scroll ;

  }
  
  th {
    position: sticky;
    z-index: 2;
    top: 0;
  }
  
  button {
    cursor: pointer;
    padding: 0.8em 1.2em;
    margin: 0 10px 0 0;
    width: auto;
    font-weight: 600;
    text-transform:  uppercase;
    font-size: 1em;
    color: rgb(245, 240, 240);
    line-height: 1em;
    letter-spacing: 0.6px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(245, 240, 240, 0.1), 0 3px 6px rgba(245, 240, 240,0.1);
    border: 0;
    background: transparent;
    outline: 0;
    transition: all 0.25s;
    &.signup {
      background: #03A9F4;
    }
    &.login {
      background: #673AB7;
    }
    &.off {
      background: none;
      box-shadow: none;
      margin: 0;
      
      &.signup {
        color: #03A9F4;
      }
      &.login {
        color: #673AB7;
      }
    }
  }
  
  button:focus, button:active, button:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    &.signup {
      background: #0288D1;
    }
    &.login {
      background: #512DA8;
    }
    &.off {
      box-shadow: none;
      &.signup {
        color: #03A9F4;
        background: #212121;
      }
      &.login {
        color: #512DA8;
        background: #e3e3e3;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    #slideBox {
      width: 80%;
      margin-left: 20%;
    }
    .signup-info, .login-info {
      display: none;
    }
  }

img {
  width: 100px;
  border-radius: 50px;
}

.logout {
  font-size: 15px;
    font-family: sans-serif;
    position: relative;
    float: right;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(245, 240, 240, 0.1), 0 3px 6px rgba(245, 240, 240,0.1);
    cursor: pointer;
}

.signUP{
  width:90%; 
  text-align:left ; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 100;
  cursor: pointer;

}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
 
}


a {
  text-decoration: none;
  color: white;
}
$radius: 0.2rem;
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

.status {
  border-radius: $radius;
  padding: 0.2rem 1rem;
  text-align: center;
  cursor: pointer;


  &-pending {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: yellow;
    border: 0;
    box-shadow: 0 2px 6px rgba(245, 240, 240, 0.1), 0 3px 6px rgba(245, 240, 240,0.1);
    font-weight: 700;

  }

  &-done {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #00ff32;
    border: 0;
    box-shadow: 0 2px 6px rgba(245, 240, 240, 0.1), 0 3px 6px rgba(245, 240, 240,0.1);
    font-weight: 700;

  }
}

.assesmemt_form{
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    font-size: 16px;
    font-family: sans-serif;
    box-shadow: white;
    margin-top: 20px;
}
  
  
  .form-scale-table{
    border: 1px solid;
    margin-top: 10px;
    margin-left : 20px
  }

  .btn{
    background: black;

  }


  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .sidenav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidenav a.active {
    background-color: #0b2e60;
    color: white;
  }
  
  .sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }

  .avatar{  overflow:hidden;   }

.user-icon{
  font-size:2em;  /* change font size should change size of icon */
  float:left; margin:1em;  /* remove this line to avoid float/margin */
}
.user-icon{
  border-radius:4em; border:1px solid skyblue;
  height:6em; width:6em;  
  background:none;padding:0.1em;  
  margin-left: 40px;
}

.user-icon::before{
  content:" "; display:block;
  height:2em; width:2em;
  background:skyblue;
  position:relative; left:2em;top:0.8em;
  border-radius:2em;
}
.user-icon::after{
  content:" "; display:block;
  height:2em;width:4em;
  background:skyblue;
  position:relative; left:1em;top:1em;
  border-radius:2em 2em 0 0;
}

 .green{
  display:block;
  height:0em;width:0em;
  background:none;
  position:relative; left:3em;top:-2em;
 }


.green::after{
  content:" "; display:block;
  height:1em;width:1em;
  position:relative; left:1.4em;top:0em;
  }

.green::after{background:green;border-radius:1em;}

.font18{font-size:18px}


.form-header{
  text-decoration: underline;
  text-align: center;

}