.main {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: var(rgb(199, 29, 29));
    transform: 0.5s;
  }
  .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .toggle {
    h1{
      color: #f1e6f1;
    }
  }
  
  .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }
  .search label {
    position: relative;
    width: 100%;
  }
  .search {
    label input {
      width: 100%;
      height: 40px;
      border-radius: 40px;
      padding-left: 45px;
      /* padding: 5px 20px; */
      outline: none;
      border: 1px solid rgb(245, 237, 237);
    }
  }
  .search {
    label ion-icon {
      position: relative;
      top: -35px;
      left: 10px;
      font-size: 1.2em;
    }
  }
  .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  .user {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100;
      object-fit: cover;
    }
  }
  
  
  
  // global stuff
  body {
  background: #56a173;
 // background-color: #696865;
    color: #efdede;
    font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
    font-size: 13px;
  }
  
  
  
  .projects {
    background-color: #56a173;
    border: 1px solid light-bg;
    overflow-x: auto;
    width: 100%;
  
    &-inner {
      border-radius: 4px;
    }
  }
  
  .projects-header {
    color:#56a173;
    padding: 22px;
  
    .count,
    .title {
      display: inline-block;
      background-color: #56a173;
      color: white;
    }
  
  
    .count {
      color: #738297;
    }
  
    .zmdi {
      cursor: pointer;
      float: right;
      font-size: 16px;
      margin: 5px 0;
    }
  
    .title {
      font-size: 21px;
  
      + .count {
        margin-left: 5px;
      }
    }
  }
  
  .Assesment-table{
    background: white;
    width: 100%;
    
  
    td {
      vertical-align:middle;
      height:34px;
      padding:1px;
      border-bottom:solid 1px gray;
      font-size: 16px;
    }
    td label{
      color: #212121;
    }
    th {
      color: black;
      padding: 10px 22px;
      vertical-align: middle;
      border: 2px solid;
      background-color: darkgray;
      font-size: large;
    }
  
    td {
      font-size: 15px;
  
      &:last-of-type {
        color: light-text;
        font-size: 15px;
      }
    }
  
    th {
      background-color: light-bg;
    }
  
    tr {
      &:hover {
        background-color: lighten(gray, 5%);
      }
  
      &:not(:last-of-type) {
        border-bottom: 1px solid light-bg;
      }
    }
  

    .status > form {
      float: right;
    }
  
    .status-text {
      display: inline-block;
      font-size: 12px;
      margin: 11px 0;
      padding-left: 20px;
      position: relative;
  
      &:before {
        border: 3px solid;
        border-radius: 50%;
        content: "";
        height: 14px;
        left: 0;
        position: absolute;
        top: 1px;
        width: 14px;
  
      }
  
      &.status-blue:before {
        border-color: #1c93ed;
      }
  
      &.status-green:before {
        border-color: #66b92e;
      }
  
      &.status-orange:before {
        border-color: #da932c;
      }
  
      &.status-red:before {
        border-color: #d65b4a;
      }
    }
  }
  
  .projects-table {
    background: white;
    width: 100%;
    color: #212121;
  
    td {
      vertical-align:middle;
      height:34px;
      padding:1px;
      border-bottom:solid 1px gray;
      font-size: 16px;
    }
    td label{
      color: #212121;
    }
    th {
      color: black;
      padding: 10px 22px;
      vertical-align: middle;
      border: 2px solid;
      background-color: darkgray;
      font-size: large;
    }
  
    td {
      font-size: 15px;
  
      &:last-of-type {
        color: light-text;
        font-size: 15px;
      }
    }
  
    th {
      background-color: light-bg;
    }
  
    tr {
      &:hover {
        background-color: lighten(gray, 5%);
      }
  
      &:not(:last-of-type) {
        border-bottom: 1px solid light-bg;
      }
    }
  
  
    .member {
      figure,
      .member-info {
        display: inline-block;
        vertical-align: top;
      }
  
      figure + .member-info {
        margin-left: 7px;
      }
  
      img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }
    }
  
    .status > form {
      float: right;
    }
  
    .status-text {
      display: inline-block;
      font-size: 12px;
      margin: 11px 0;
      padding-left: 20px;
      position: relative;
  
      &:before {
        border: 3px solid;
        border-radius: 50%;
        content: "";
        height: 14px;
        left: 0;
        position: absolute;
        top: 1px;
        width: 14px;
      }
  
      &.status-blue:before {
        border-color: #1c93ed;
      }
  
      &.status-green:before {
        border-color: #66b92e;
      }
  
      &.status-orange:before {
        border-color: #da932c;
      }
  
      &.status-red:before {
        border-color: #d65b4a;
      }
    }
  }
  // selectric plugin styling
  .selectric {
    background-color: transparent;
    border-color: light-bg;
    border-radius: 4px;
    .label {
      color: light-text;
      line-height: 34px;
      margin-right: 10px;
      text-align: left;
    }
    &-wrapper {
      float: right;
      width: 150px;
    }
  }
  // charts
  .chart {
    border-radius: 3px;
    // box-shadow: 0 0 10px -3px black;
    border: 1px solid light-bg;
    color: white;
    padding: 10px;
    position: relative;
    text-align: center;
  
    canvas {
      height: 400px;
      margin: 20px 0;
      width: 100%;
    }
  
    .actions {
      margin: 15px;
      position: absolute;
      right: 0;
      top: 0;
  
      span {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        margin: 5px;
        padding: 4px;
      }
  
      .btn-link {
        color: white;
  
        i {
          font-size: 1.75rem;
        }
      }
    }
  
    .title {
      font-size: 18px;
      margin: 0;
      padding: 15px 0 5px;
      + .tagline {
        margin-top: 10px;
      }
    }
  
    .tagline {
      font-size: 12px;
    }
  }
  
  .danger-item {
    border-left: 4px solid #a84d43;
  }
  
  .zmdi {
    line-height: 1;
    vertical-align: middle;
  }
  
  
  
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
    font-family: font-default;
  }
  
  
  .backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4;
  }
  
  .backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #673AB7;
  }
  
  #back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
  }
  
  .canvas-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  
  #slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
  }
  
  label {
    font-size: 0.8em;
    text-transform: uppercase;
  }
  
  input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    padding: 8px 1px;
    margin-top: 0.1em;
  }
  
  
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  
  .content h2 {
    font-weight: 300;
    font-size: 2.6em;
    margin: 0.2em 0 0.1em;
  }
  
  .left .content h2 {
    color: #03A9F4;
  }
  
  .right .content h2 {
    color: #673AB7;
  }
  
  .form-element {
    margin: 1.6em 0;
    &.form-submit {
      margin: 1.6em 0 0;
    }
  }
  
  .form-stack {
    display: flex;
    flex-direction: column;
  }
  
  .checkbox {
    -webkit-appearance: none;
    outline: none;
      background-color: #e3e3e3;
      border: 1px solid #e3e3e3;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
      padding: 12px;
      border-radius: 4px;
      display: inline-block;
      position: relative;
  }
  .checkbox:focus, .checkbox:checked:focus,
  .checkbox:active, .checkbox:checked:active {
    border-color: #03A9F4;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  .checkbox:checked {
    outline: none;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  }
  
  .checkbox:checked:after {
    outline: none;
      content: '\2713';
    color: #03A9F4;
      font-size: 1.4em;
    font-weight: 900;
      position: absolute;
      top: -4px;
      left: 4px;
  }
  
  .form-checkbox {
    display: flex;
    align-items: center;
    
    label {
      margin: 0 6px 0;
      font-size: 0.72em;
    }
  }
  
  button {
    padding: 0.8em 1.2em;
    margin: 0 10px 0 0;
    width: auto;
    font-weight: 600;
    text-transform:  uppercase;
    font-size: 1em;
    color: rgb(19, 18, 18);
    line-height: 1em;
    letter-spacing: 0.6px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;
    &.signup {
      background: #03A9F4;
    }
    &.login {
      background: #673AB7;
    }
    &.off {
      background: none;
      box-shadow: none;
      margin: 0;
      
      &.signup {
        color: #03A9F4;
      }
      &.login {
        color: #673AB7;
      }
    }
  }
  
  button:focus, button:active, button:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    &.signup {
      background: #0288D1;
    }
    &.login {
      background: #512DA8;
    }
    &.off {
      box-shadow: none;
      &.signup {
        color: #03A9F4;
        background: #212121;
      }
      &.login {
        color: #512DA8;
        background: #e3e3e3;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    #slideBox {
      width: 80%;
      margin-left: 20%;
    }
    .signup-info, .login-info {
      display: none;
    }
  }
  
  
  .background {
    font-weight:700;
    vertical-align:middle;
    position:relative;
    color:white;
    a {
      color:white;
      font-weight:400;
      text-decoration:none;
    }
  
    &__pass {
      background-color: #20ac20 !important;
    }
    &__pending{
      background-color: red !important;
    }
    &__Inprogress{
      padding:0;
      /* Progress Bar */
      .progress {
        position: relative;
        height: 36px;
        display: block;
        width: 100%;
        background-color: lighten(teal, 5%);
        overflow: hidden; 
  
        .indeterminate {
          background-color: teal; 
  
          &:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate 3.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
          }
  
        }
      }
  
      a {
        display: block;
        position: absolute;
        height: 34px;
        top: 11px;
        width: 100%;
        line-height: 1;
       
      }
    }
  }
  
  
  @-webkit-keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%; }
    60% {
      left: 100%;
      right: -90%; }
    100% {
      left: 100%;
      right: -90%; } 
  }
  @keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%; }
    60% {
      left: 100%;
      right: -90%; }
    100% {
      left: 100%;
      right: -90%; } 
  }
  
  
  
  
  .prompt {
      display: block;
      font-size: 20px;
  }
  
  .btn {
      margin: 0 20px 0 20px;
  }
  
  .btn-strongly-agree {
      color: #89d298;
      font-weight: bold;
  }
  
  .btn-strongly-agree.active,
  .btn-strongly-agree:active,
  .btn-strongly-agree:focus,
  .btn-strongly-agree:active:focus,
  .btn-strongly-agree.active:focus,
  .btn-strongly-agree:hover
   {
      background-color: #89d298;
  }
  
  .btn-agree {
      color: #89d298;
  }
  
  .btn-agree.active,
  .btn-agree:active,
  .btn-agree:focus,
  .btn-agree:active:focus,
  .btn-agree.active:focus,
  .btn-agree:hover {
      background-color: rgba(137, 210, 152, 0.5);
  }
  
  .btn-disagree {
      color: #e28181;
  }
  
  .btn-disagree.active,
  .btn-disagree:active,
  .btn-disagree:focus,
  .btn-disagree:active:focus,
  .btn-disagree.active:focus,
  .btn-disagree:hover {
      background-color: rgba(226, 129, 129, 0.5);
  }
  
  .btn-strongly-disagree {
      color: #e28181;
      font-weight: bold;
  }
  
  .btn-strongly-disagree.active,
  .btn-strongly-disagree:active,
  .btn-strongly-disagree:focus,
  .btn-strongly-disagree:active:focus,
  .btn-strongly-disagree.active:focus,
  .btn-strongly-disagree:hover {
      background-color: #e28181;
  }
  
  .bottom {
      margin-bottom: 100px;
  }
  
  .hide {
      display: none;
  }
  
  .show {
      display: block;
  }
  
  /* RESULTS */
  .results {
      margin-bottom: 40px;
      margin-top: 40px;
  }
  
  
  
  