<!DOCTYPE html>
<html>
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Dashboard
     </title >
     <link rel="stylesheet"  type = "text/css" href="style.css">
     <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
   </head>

   <body>
    <div class="sidenav">
      <div class="avatar">
        <div class="user-icon font18"><span class="green"></span>
        </div>
      </div>
      <div style=" text-align: center; padding: 10px; margin-top: -10px;" id="username"></div>
      <a  href="/dashboard">Tasks</a>
      <a class="active" href="">Documents</a>
    </div>
    <div class="main">
      <div class="topbar">
          User Dashboard
          <div class="logout" onclick="clickLogout()">LOGOUT</div>
        </div>
    <div class="projects mb-4">
      <div class="projects-inner">
        <header class="projects-header">
          <div class="title">Listed Documents</div>
          <div style="float:right"><button onclick="onRender()">BACK</button></div>
        </header>
        <table class="Assesment-table" id ="Document">
        </table>
      </div>
    </div>
    </div>
  </body>
  
<script type="text/javascript" src="document.js"></script>
<script type="text/javascript" src="dashboard.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
