<!DOCTYPE HTML">
<html class="supernova"><head>
  <link rel="stylesheet"  type = "text/css" href="style.css">
</head>
<body>
<form class="assesmemt_form"  id="survey-form">
  <div role="main" class="form-all">
      
        <div>
          <div >
            <h1 class="form-header">
              Assessment form
            </h1>
            <div style="text-align: center;">
            <a style="color: #4f4bef" id="pdf" href="#"></a></div>
            <div>
              Thank you for Assessing the Document!
            </div>
          </div>
        </div>

	  <hr>
     
        <label class="" >
          1)  Rate you experience about this research?
          <span class="form-required">
            *
          </span>
        </label>
        <div>
          <span style="vertical-align:top">
            <table role="radiogroup"  cellPadding="4" cellSpacing="0" class="form-scale-table" data-component="scale">
              <tbody >
                <tr>
                  <th>
                     
                  </th>
                  <th style="text-align:center">
                    <label > 1 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 2 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 3 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 4 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 5 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 6 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 7 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 8 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 9 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 10 </label>
                  </th>
                  <th>
                     
                  </th>
                </tr>
                <tr>
                  <td>
                    <label  aria-hidden="true"> Boring </label>
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="1" title="1" id="source11" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="2" title="2" id="source12" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="3" title="3" id="source13" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="4" title="4" id="source14" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="5" title="5" id="source15" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="6" title="6" id="source16" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="7" title="7" id="source17" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="8" title="8" id="source18" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="9" title="9" id="source19" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source1" value="10" title="10" id="source110" required="" />
                  </td>
                  <td>
                    <label  aria-hidden="true"> Fantastic </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <label class="form-sub-label" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false"> 1 is Boring, 10 is Fantastic </label>
          </span>
        </div>
    
	  <hr>
     
        <label class="">
          2)  After Reading, how inspired did you feel for your case study?
          <span class="form-required">
            *
          </span>
        </label>
        <div >
          <span style="vertical-align:top">
            <table role="radiogroup"  cellPadding="4" cellSpacing="0" class="form-scale-table" data-component="scale">
              <tbody>
                <tr>
                  <th>
                     
                  </th>
                  <th style="text-align:center">
                    <label > 1 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 2 </label>
                  </th>
                  <th style="text-align:center">
                    <label> 3 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 4 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 5 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 6 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 7 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 8 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 9 </label>
                  </th>
                  <th style="text-align:center">
                    <label > 10 </label>
                  </th>
                  <th>
                     
                  </th>
                </tr>
                <tr>
                  <td>
                    <label for="source2_worst" aria-hidden="true"> None </label>
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="1" title="1" id="source2_1" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="2" title="2" id="source2_2" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="3" title="3" id="source2_3" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="4" title="4" id="source2_4" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="5" title="5" id="source2_5" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="6" title="6" id="source2_6" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="7" title="7" id="source2_7" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="8" title="8" id="source2_8" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="9" title="9" id="source2_9" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source2" value="10" title="10" id="source2_10" required="" />
                  </td>
                  <td>
                    <label for="source2_best" aria-hidden="true"> Fired up! </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <label class="form-sub-label" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false"> 1 is None, 10 is Fired up! </label>
          </span>
        </div>
     
	  <hr>
     
        <label class="">
          3)  Would you recommend this paper to a others?
          <span class="form-required">
            *
          </span>
        </label>
        <div >
          <div class="form-single-column" role="group"  data-component="radio" style="margin-top: 10px; margin-left: 20px">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio"  class="form-radio validate[required]" id="source3_0" name="source3" value="Yes, definitely" required="" />
              <label id="label_source3_0" for="source3_0"> Yes, definitely </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio"  class="form-radio validate[required]" id="source3_1" name="source3" value="Maybe, if the content was changed" required="" />
              <label id="label_source3_1" for="source3_1"> Maybe, if the content was changed </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio"  class="form-radio validate[required]" id="source3_3" name="source3" value="No, never" required="" />
              <label id="label_source3_3" for="source3_3"> No, never </label>
            </span>
          </div>
        </div>
    
	  <hr>
     
        <label>
          4)  How organized was the paper?
          <span class="form-required">
            *
          </span>
        </label>
        <div >
          <span style="vertical-align:top">
            <table role="radiogroup"  cellPadding="4" cellSpacing="0" class="form-scale-table" data-component="scale">
              <tbody>
                <tr>
                  <th>
                     
                  </th>
                  <th style="text-align:center">
                    <label for="source4_1"> 1 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_2"> 2 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_3"> 3 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_4"> 4 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_5"> 5 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_6"> 6 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_7"> 7 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_8"> 8 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_9"> 9 </label>
                  </th>
                  <th style="text-align:center">
                    <label for="source4_10"> 10 </label>
                  </th>
                  <th>
                     
                  </th>
                </tr>
                <tr>
                  <td>
                    <label for="source4_worst" aria-hidden="true"> A lot Mess </label>
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="1" title="1" id="source4_1" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="2" title="2" id="source4_2" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="3" title="3" id="source4_3" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="4" title="4" id="source4_4" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="5" title="5" id="source4_5" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="6" title="6" id="source4_6" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="7" title="7" id="source4_7" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="8" title="8" id="source4_8" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="9" title="9" id="source4_9" required="" />
                  </td>
                  <td style="text-align:center">
                    <input type="radio" class="form-radio validate[required]" name="source4" value="10" title="10" id="source4_10" required="" />
                  </td>
                  <td>
                    <label for="source4_best" aria-hidden="true"> Well Organized </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <label  style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false"> 1 is A Hot Mess, 10 is Like a well oiled machine </label>
          </span>
        </div>
      
	  <hr>
     
        <label >5)  Do you have any comments about the Paper and Subject? </label>
        <div  style="margin-top: 10px; margin-left: 20px;">
          <textarea id="feedback" class="form-textarea" " cols="40" rows="6" data-component="textarea" ></textarea>
        </div>
    
     
        <div >
          <div style="margin-left: 250px;">
            <button style="background: black;
            color: white;" id="submit" type="submit" >
              Submit 
            </button>
            <button  class="btn" onclick="renderBack()">Back</button>
          </div>
        </div>
      
  </div>
  
</form></body>
</html>
<script type="text/javascript" src="/form.js"></script>