<!DOCTYPE html>
<html>
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">

    <title>
     Dashboard
    </title >
    <link rel="stylesheet"  type = "text/css" href="style.css">
  </head>
  <body>
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <h1>User Dashboard</h1>
        </div>
        <!-- user image -->
        <div class="user">
        <img src="user.png">
        </div>
      </div>
    

    <div class="projects mb-4">
      <div class="projects-inner">
        <header class="projects-header">
          <div class="title">Listed Tasks</div>
          <i class="zmdi zmdi-download"></i>
          <div style="float:right"><button onclick="onRender()">BACK</button></div>
        </header>
        <table class="projects-table" id ="employees">
           <!-- <thead></thead>
           <tbody></tbody> -->
           <!-- <tr>
               <th>Assesment Task</th>
              <th>Description</th>
              <th>Amount of resources</th>
              <th>Instructional Material</th> -->
              <!-- <th class="text-right">Actions</th>
            </tr>
          
          <tr> --> 
            <!-- <td>
              <p>Task1</p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
              
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-orange">In progress</span>
            </td> -->
            <!-- <td>
                <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr> -->
          <!-- <tr class="danger-item">
            <td>
              <p>Task1</p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
              
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-red">DONE</span>
            </td>
            <td>
              <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Task1</p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
              
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-orange">In progress</span>
            </td>
            <td>
              <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr>
          <tr>
            <td>
              <p></p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
             
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-blue">PENDING</span>
            </td>
            <td>
              <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Task1</p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
            
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-orange">In progress</span>
            </td>
            <td>
              <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Task1</p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
              
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-blue">PENDING</span>
            </td>
            <td>
              <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Task1</p>
              
            </td>
            <td>
              <p>**</p>
              <p class="text-danger">**</p>
            </td>
            <td class="member">
             
              <div class="member-info">
                <p>10</p>
                
              </div>
            </td>
            <td>
              <p>PDF</p>
              
            </td>
            <td class="status">
              <span class="status-text status-blue">PENDING</span>
            </td>
            <td>
              <button onclick="onSignUp()">SignUP</button>
            </td>
          </tr> -->
        </table>
      </div>
    </div>
    </div>
  </body>
<script type="text/javascript" src="dashboard.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
