<!DOCTYPE html>
<html>
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">

    <title>
     Dashboard
    </title >
    <link rel="stylesheet"  type = "text/css" href="style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            

  </head>
  <body>
    <div class="sidenav">
      <div style="margin-left: auto;
      margin-right: auto;
      width: 50%;">
        <img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
      </div>
      <div style="    text-align: center;
      padding: 10px;
  ">Arti Patel</div>
      <a class="active" href="/dashboard">Tasks</a>
      <a  href="">Documents</a>
    </div>
    
    <div class="main">
      <div class="topbar">
        
          User Dashboard
          <div class="logout">LOGOUT</div>
          </a>
        </div>
    
    

    <div class="projects mb-4">
      <div class="projects-inner">
        <header class="projects-header">
          <div class="title">Listed Tasks</div>
        </header>
        <table class="projects-table" id ="employees">
        </table>
      </div>
    </div>
    </div>
  </body>
<script type="text/javascript" src="dashboard.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
