<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet"  type = "text/css" href="login.css">
	</head>
	<body>
<P class="title">Document Assessor</P>
<div class="login-page">
	<div class="form">
		<div class="heading">LOGIN</div>

	  <form id="login_form">
		<input type="text" placeholder="username" id="username"/>
		<input type="password" placeholder="password" id="password"/>
		<button  type="submit" value="Submit">login</button>
		<div class="message">Not registered? <a href="/register">Create an account</a></div>
	  </form>
	</div>
  </div>
 
</body>
<script type="text/javascript" src="submitLogin.js"></script>
</html>
