
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Registration</h1>
		<form id="reg-form">
			<input type="text" autocomplete="off" id="username" placeholder="Username" /><br><br>
			<input type="password" autocomplete="off" id="password" placeholder="Password" /><br><br>
			<input type="submit" value="Submit Form" />
		</form>
		<br><br>
		<a href="/">Login</a>

		<script type="text/javascript" src="/client/register.js"></script>

    </body>
</html>