
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link rel="stylesheet"  type = "text/css" href="login.css">
	</head>
	<body>
<P class="title">Document Assessor</P>
<div class="login-page">
	<div class="form">
		<div class="heading">REGISTER</div>
	  <form id="reg-form">
		<input type="text" placeholder="Name" id="name"/>
		<input type="text" placeholder="Email" id="username"/>
		<input type="password" placeholder="password" id="password"/>
		<button  type="submit" value="Submit Form">Register</button>
		<div class="message">Already registered? click here to <a href="/">login</a></div>
	  </form>
	</div>
  </div>
 
</body>
<script type="text/javascript" src="register.js"></script>
</html>
